@import "variables";

* {
  text-align: center;
}

body {
  background: $secondary-color;
  color: white;
  font-family: $font-stack;
  line-height: 1.5;
}

h1 {
  font-size: 8rem;
  text-transform: uppercase;
  background-image: $background-color-set;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  @media (max-width: 375px) {
    font-size: 4rem;
  }
}

.btn {
  &-light {
    @extend %btn-shared;
    background-color: rgb(138, 224, 138);
    color: $secondary-color;
  }
}

.input {
  font-size: $input-size;
  outline: none;
  padding: 5px;
}

.nameForm {
  padding-top: 300px;
}

i {
  font-size: 70px;
}
