@import "variables";

.post {
  border: 1px solid gray;
  width: $post-width;
  height: $post-height;
  margin: 20px;
  padding: 10px;
}

.tags-area {
  display: flex;
  justify-content: center;
}

%positioning {
  width: fit-content;
  padding-left: 4px;
  padding-right: 4px;
  margin: 5px;
}

.tag {
  background-color: white;
  color: black;
  @extend %positioning;
}

i {
  display: block;
  margin-bottom: 20px;
}

.alternatives {
  display: inline-flex;
  border: 1px solid white;
  @extend %positioning;
}

.hr {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}
